---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<div class="content-inner">
    <h1 class="main-title">О сайте</h1>

    <div class="about-text">
        <p>
            Где-то в январе 2019 я прочитал один пост и поделился его кратким пересказом со своими коллегами во внутреннем чате Яндекс.Маркета.
            Мне показалось, что это интересный формат, который может быть интересен всем разработчикам.
            Я завел телеграм-канал <a href="https://t.me/defront">defront</a>, куда стал постить такие мини-публикации.
            В итоге этот проект стал для меня дополнительной мотивацией читать что-то новое и интересное каждый день.
            Спустя пару месяцев на свет появился этот сайт, который является зеркалом телеграм-канала.
        </p>
        <p>
            В своих постах я не фокусируюсь только на фронтенде, стараюсь делиться тем, что может быть полезно для всех разработчиков,
            так как в подписчиках телеграм-канала есть не только фронтендеры, но и бэкенд-разработчики, мобильные разработчики и менеджеры.
        </p>
    </div>
</div>
