---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<div class="content-inner">
    <h1 class="main-title">О проекте</h1>

    <div>
        <p>
            С вами на связи автор проекта — Мышов Саша. Проект появился на свет довольно обычно. В январе 2019 мне захотелось поделиться кратким пересказом прочитанной статьи со своими коллегами во внутреннем чате Яндекс.Маркета.
            Мне показалось, что это интересный формат, который может быть интересен и другим разработчикам.
            Через некоторое время завёл телеграм-канал <a href="https://t.me/defront">defront</a>, куда стал постить такие мини-рецензии.
            В итоге этот проект стал для меня дополнительной мотивацией читать что-то новое и интересное каждый день.
            Спустя пару месяцев на свет появился этот сайт, который является зеркалом телеграм-канала.
        </p>
        <p>
            В своих постах я не фокусируюсь только на фронтенде, стараюсь делиться тем, что может быть полезно всем разработчикам,
            так как в подписчиках телеграм-канала есть не только фронтендеры, но и бэкенд-разработчики, мобильные разработчики и менеджеры.
        </p>
    </div>
</div>
