---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<div class="content-inner">
    <h1 class="main-title">Благодарности</h1>

    <div>
        <p>
            Огромное спасибо всем, кто поддерживает Defront на <a href="https://www.patreon.com/myshov">Patreon</a>! Благодаря вашей поддержке проект развивается и стновится лучше.
        </p>
    </div>
</div>
