---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<div class="content-inner">
    <h1 class="main-title">Последние публикации</h1>

    {% set postslist = collections.posts | head(-10) %}
    {% include "postslistShort.njk" %}

    <p class="main-more">Больше публикаций можно найти в <a class="link" href="{{ '/posts/' | url }}">архиве</a></p>
</div>
