---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<div class="explanation">
    Небольшие субъективные заметки о&nbsp;прочитанных статьях про фронтенд (и&nbsp;не&nbsp;только) каждый день
</div>

<div class="content-inner">
    <h1>Последние 10 публикаций</h1>

    {% set postslist = collections.posts | head(-10) %}
    {% include "postslist.njk" %}

    <p>Больше публикаций можно найти в <a class="link" href="{{ '/posts/' | url }}">архиве</a>.</p>
</div>
