---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<div class="content-inner">
    <h1 class="main-title">С тегом “{{ tag }}”</h1>

    {% set postslist = collections[ tag ] %}
    {% include "postslist.njk" %}

    <p>Смотреть <a href="{{ '/tags/' | url }}">все теги</a>.</p>
</div>
