<ol reversed class="postlist postlist_short">
{% for post in postslist | reverse %}
  <li class="postlist-item">
    <a href="{{ post.url | url }}" class="link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
{% endfor %}
</ol>
