<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/code.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(53498344, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/53498344" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-10904475-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-10904475-2');
    </script>
  </head>
  <body>
  <div class="layout">
    <header class="main-header">
      <div class="logo">
          <img
              width="50"
              height="50"
              src="/img/logo_small.png" alt="Логотип проекта Defront"
          />
          <h3 class="logo__title">Defront</h3>
          <h4 class="logo__subtitle">Про фронтенд-разработку и&nbsp;не&nbsp;только</h4>
      </div>
      <ul class="nav">
          <li class="nav__item"><a class="link" href="/">Главная</a></li>
          <li class="nav__item"><a class="link" href="/posts/">Архив</a></li>
          <li class="nav__item"><a class="link" href="/about/">О проекте</a></li>
      </ul>
    </header>

    <main class="main-content">
        {{ content | safe }}
    </main>

    <footer class="main-footer">
        <p class="footer-item">Зеркало телеграм-канала <a class="link" href="https://t.me/defront">defront</a></p>
        <p class="footer-item">Автор проекта <a class="link" href="http://myshov.com">@myshov</a></p>
        <p class="footer-item">Сделано с помощью <a class="link" href="https://www.11ty.io">11ty</a></p>
    </footer>

  </body>
  </div>
</html>
