<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/code.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
  <div class="layout">
    <header class="main-header">
      <div class="logo">
          <img
              class="logo__img logo__img_{% if smallLogo == 'yes' %}small{% else %}big{% endif %}"
              src="/img/logo.png" alt="Логотип проекта Defront"
          />
          <h3 class="logo__title">Defront</h3>
          <h4 class="logo__subtitle">Про фронтенд-разработку и&nbsp;не&nbsp;только</h4>
      </div>
      <ul class="nav">
          <li class="nav__item"><a class="link" href="/">Главная</a></li>
          <li class="nav__item"><a class="link" href="/posts/">Архив</a></li>
          <li class="nav__item"><a class="link" href="/about/">О сайте</a></li>
      </ul>
    </header>

    <main class="main-content">
        {{ content | safe }}
    </main>

    <footer class="main-footer">
        <p class="footer-item">Автор проекта <a class="link" href="http://myshov.com">@myshov</a></p>
        <p class="footer-item">Сделано с помощью <a class="link" href="https://www.11ty.io">11ty</a></p>
    </footer>

  </body>
  </div>
</html>
