---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article>
  <h1>{{ title }}</h1>
  <p class="article__info"><time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>, Александр Мышов</p>
  {{ content | safe }}
</article>

<p><a href="{{ '/' | url }}">← На главную</a></p>
